###################
# intellij idea
###################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

###################
# macOS
###################
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

###################
# logs
###################
*.log
*.log.gz

###################
# maven
###################
target/

###################
# others
###################
*.class
*.*~
*~
.merge_file*